html, body {
  width: 100%;
  margin:0 auto;
}
.all4 {max-width: 1600px;
  margin: 0 auto;
 padding: 0 15px;}
@media (max-width: 1200px) {
  .all4 {max-width: 1000px;}
}
@media (max-width: 992px) {
  .all4 {max-width: 970px;}
}
@media (max-width: 992px) {
  .all4 {max-width: 750px;}
}
@media (max-width: 767px) {
  .all4 {max-width: none;}
}
/*--------------------Ф О Р М А-------------------------*/
form{position:relative;
  width: 30%;
  box-sizing:border-box;
  background-color: white;
  Border-radius: 10px;}

.container input[type=text], .container input[type=password] {
   display: flex;
   flex-direction: column;
   width: 98%;
            padding: 12px 0;
            margin: 15px 0;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom-style:1px solid grey;
            }
  span.p1 {color: #ec7979}
  button.get {
              background-color: ec7979;
              color: white;
              padding: 14px 20px;
              margin: 30px 0 0 0;
              border: none;
              cursor: pointer;
              width: 100%;
              border-bottom-left-radius:10px;
              border-bottom-right-radius: 10px;
  }
  button:hover {
    opacity: 0.3;
  }
  .name {
    text-align: center;
    margin: 24px 0 12px 0;
  }  
.container {
       padding: 20px;
  }

/*-------------------------- H E A D E R-------------------------------*/
.verh{background: url(img/back.png);
  background-size: contain;
}
header {display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 0 40px;
  }
.menu ul{list-style: none;
         display: flex;
         justify-content: space-between;
       } 
.mlink {color: white;
        text-decoration: none;
        margin-right: 30px;
}     
.logo p {color:white;
        font-size: 16pt;}   
span.p2 {color:#ec7979}
/*------------------------H A T---------------------------------*/
.hat {display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:100px;
  }
/*------------------R I G H T P A R T---------------------------*/
.rightpart{font-size: 30px;
           color:white;
          font-family:Arial, Helvetica, serif;
          font-weight: 100;
          }
.lit {font-size: 16px;
      padding:20px 0;}
.dnld {border: 2px solid white;
      color:white;
      background-color: Transparent;
      padding: 10px 25px;
      font-size: 16px;
      }
/*--------------------F O O T E R 1----------------------*/
.footer1{display:flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        background-color:#f8efef;
        padding: 0 100px;
        }
  ul li a img{height:50px;
    position: relative;
    top: 40%;                       
    }  
/*---------------B L O C K 1 ----------------------*/
.block1 {display:flex;
  flex-direction: row;
  justify-content: space-between;
  
  }   
.bttn {display: flex;
      flex-direction: column;
      justify-content: flex-start;
      }
.bttn button {width: 80px;
              height: 80px;
              margin: 0 20px 5px 0;
              background-color:#ec7979;
              color:white;
              border: none;
              Border-radius: 5px;}
.bttn button:hover {opacity: 1;
                    background-color:#333333;
                    color:white;}  
.pict img{width: 70%;
          padding: 0 50px;
          }
.contentb1 {padding: 0 50px;
           margin: -15px 0 0 0;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           font-size: 12px;
           }
h3 {padding: 0 0 40px 0;}
.but2 {border: 2px solid white;
  color:white;
  background-color: #ec7979;
  padding: 6px 20px;
  margin: 0 0 3px 0;
  font-size: 14px;
  border-radius: 3px;}  
  /*--------------B L O C K 2------------------*/  
.b2 {width: 50px;}  
.block2 {display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;} 
hr {width:60px;
   background-color:#e62424;
   }
.description1 {display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 40px 80px;
  }

/*-------------------B L O C K 3-------------------*/
.block3 {display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   background-color: #f5f5f5;} 
.articl {text-align: center;
        padding: 40px 0;}
.tabprice {display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;}

table {font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-collapse: separate;
  margin: 30px 30px;}
.up1{padding: 30px 0 0 0;}
.tr1 td{background-color: #333333;
       width: 200px;
       padding: 20px 0;
       color: white;
      font-size: 14px;}
.tr2 td{background-color: #333333;
        width: 200px;
        height: 50px;
        padding: 10px 0;
        color: white;
        font-size: 20px;
      font-family: 'Times New Roman', Times, sans-serif;} 
.tr3 td{background-color: #333333;
       width: 200px;
       padding: 10px 0;
       color: grey;
       font-size: 12px;}   
.tr4 td{background-color: white;
       width: 200px;
       padding: 7px 0;
       color: grey;
       font-size: 12px;}   

/*-----------------------B L O C K 4 ------------------*/
.description2 {display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 50px 0;}
.first{width: 250px;
  display: flex;
flex-direction: column;
text-align: center;
margin: 0 50px;
}
.text{box-sizing:content-box;
  border-radius: 5px;
  background-color: #e2e2e2;
}
.b3 {width: 70px;}
.ava {display: flex;
flex-direction:row;
justify-content: space-between;
margin: 10px 40px;}
.text2 h3 {   margin: 10px;
  font-size: 18px;}
.text2 p {margin: 10px 0 10px 10px;
  font-size: 12px;
text-align: right;
font-family: 'Times New Roman', Times, serif;}
/*--------------B L O C K 5------------------------*/
.block5{display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(img/end.png);
  background-size: contain;
  color:white;
padding: 0 0 40px 0;}
.type2 {border: 2px solid white;
  color:white;
  background-color: Transparent;
  padding: 10px 25px;
  font-size: 16px;
  }
/*-------------------------B L O C K 6-------------------*/
.block6 {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
.sign-up {display: flex;
flex-direction:column ;
margin: 0 50px;}
.sign-up input[type=text], .sign-up input[type=password] {
            width: 400px;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom-style:1px solid grey;
            box-sizing: content-box;
                        }
.areas {display: flex;
flex-direction: row;
justify-content:space-between;
}
.mes {margin: 0 50px;}
textarea {width: 400px;
     height: 200px;
             border-top: none;
            border-right: none;
            border-left: none;
            border-bottom-style:3px solid grey;
            box-sizing: content-box;
            resize: none;
}
.fff {margin: 30px;}
/*--------------------F O O T E R---------------------*/
.footer2 {display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
background-color: black;
color: white;
}
.lastone ul{list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;}
.lastone ul li a img {filter: invert(1)}